@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

h1, h2 {
  @apply font-bold;
}

body {
  @apply bg-background;
}